

<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Mac</th>
      <th>Name</th>
      <th>Tags</th>
      <th>poe Enabled</th>
      <th>vlan</th>
      <th>voice Vlan</th>
      <th>isolation Enabled</th>
      <th>rstp Enabled</th>
      <th>stp Guard</th>
      <th>accessPolicyNumber</th>
      <th>link Negotiation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Q2XP-BPWP-9JAM</td>
      <td>00:11:22:33:44:55:66</td>
      <td>A1</td>
      <td></td>
      <td>TRUE</td>
      <td>114</td>
      <td>814</td>
      <td>TRUE</td>
      <td>TRUE</td>
      <td>BPDU guard</td>
      <td>Open</td>
      <td>Auto negotiate</td>
      
    </tr>
    <tr>
      <td>Q2XP-BPWP-9JAM</td>
      <td>00:11:22:33:44:55:67</td>
      <td>A2</td>
      <td></td>
      <td>TRUE</td>
      <td>114</td>
      <td>814</td>
      <td>TRUE</td>
      <td>TRUE</td>
      <td>BPDU guard</td>
      <td>Open</td>
      <td>Auto negotiate</td>
    </tr>
    <tr>
        <td>Q2XP-BPWP-9JAM</td>
        <td>00:11:22:33:44:55:67</td>
        <td>A2</td>
        <td></td>
        <td>TRUE</td>
        <td>114</td>
        <td>814</td>
        <td>TRUE</td>
        <td>TRUE</td>
        <td>BPDU guard</td>
        <td>Open</td>
        <td>Auto negotiate</td>
      </tr>
      <tr>
          <td>Q2XP-BPWP-9JAM</td>
          <td>00:11:22:33:44:55:67</td>
          <td>A2</td>
          <td></td>
          <td>TRUE</td>
          <td>114</td>
          <td>814</td>
          <td>TRUE</td>
          <td>TRUE</td>
          <td>BPDU guard</td>
          <td>Open</td>
          <td>Auto negotiate</td>
        </tr>
        <tr>
            <td>Q2XP-BPWP-9JAM</td>
            <td>00:11:22:33:44:55:67</td>
            <td>A2</td>
            <td></td>
            <td>TRUE</td>
            <td>114</td>
            <td>814</td>
            <td>TRUE</td>
            <td>TRUE</td>
            <td>BPDU guard</td>
            <td>Open</td>
            <td>Auto negotiate</td>
          </tr>
          <tr>
              <td>Q2XP-BPWP-9JAM</td>
              <td>00:11:22:33:44:55:67</td>
              <td>A2</td>
              <td></td>
              <td>TRUE</td>
              <td>114</td>
              <td>814</td>
              <td>TRUE</td>
              <td>TRUE</td>
              <td>BPDU guard</td>
              <td>Open</td>
              <td>Auto negotiate</td>
            </tr>
            <tr>
                <td>Q2XP-BPWP-9JAM</td>
                <td>00:11:22:33:44:55:67</td>
                <td>A2</td>
                <td></td>
                <td>TRUE</td>
                <td>114</td>
                <td>814</td>
                <td>TRUE</td>
                <td>TRUE</td>
                <td>BPDU guard</td>
                <td>Open</td>
                <td>Auto negotiate</td>
              </tr>
              <tr>
                  <td>Q2XP-BPWP-9JAM</td>
                  <td>00:11:22:33:44:55:67</td>
                  <td>A2</td>
                  <td></td>
                  <td>TRUE</td>
                  <td>114</td>
                  <td>814</td>
                  <td>TRUE</td>
                  <td>TRUE</td>
                  <td>BPDU guard</td>
                  <td>Open</td>
                  <td>Auto negotiate</td>
                </tr>
                <tr>
                    <td>Q2XP-BPWP-9JAM</td>
                    <td>00:11:22:33:44:55:67</td>
                    <td>A2</td>
                    <td></td>
                    <td>TRUE</td>
                    <td>114</td>
                    <td>814</td>
                    <td>TRUE</td>
                    <td>TRUE</td>
                    <td>BPDU guard</td>
                    <td>Open</td>
                    <td>Auto negotiate</td>
                  </tr>
                  <tr>
                      <td>Q2XP-BPWP-9JAM</td>
                      <td>00:11:22:33:44:55:67</td>
                      <td>A2</td>
                      <td></td>
                      <td>TRUE</td>
                      <td>114</td>
                      <td>814</td>
                      <td>TRUE</td>
                      <td>TRUE</td>
                      <td>BPDU guard</td>
                      <td>Open</td>
                      <td>Auto negotiate</td>
                    </tr>
                    <tr>
                        <td>Q2XP-BPWP-9JAM</td>
                        <td>00:11:22:33:44:55:67</td>
                        <td>A2</td>
                        <td></td>
                        <td>TRUE</td>
                        <td>114</td>
                        <td>814</td>
                        <td>TRUE</td>
                        <td>TRUE</td>
                        <td>BPDU guard</td>
                        <td>Open</td>
                        <td>Auto negotiate</td>
                      </tr>
                      <tr>
                          <td>Q2XP-BPWP-9JAM</td>
                          <td>00:11:22:33:44:55:67</td>
                          <td>A2</td>
                          <td></td>
                          <td>TRUE</td>
                          <td>114</td>
                          <td>814</td>
                          <td>TRUE</td>
                          <td>TRUE</td>
                          <td>BPDU guard</td>
                          <td>Open</td>
                          <td>Auto negotiate</td>
                        </tr>
                        <tr>
                            <td>Q2XP-BPWP-9JAM</td>
                            <td>00:11:22:33:44:55:67</td>
                            <td>A2</td>
                            <td></td>
                            <td>TRUE</td>
                            <td>114</td>
                            <td>814</td>
                            <td>TRUE</td>
                            <td>TRUE</td>
                            <td>BPDU guard</td>
                            <td>Open</td>
                            <td>Auto negotiate</td>
                          </tr>
                          <tr>
                              <td>Q2XP-BPWP-9JAM</td>
                              <td>00:11:22:33:44:55:67</td>
                              <td>A2</td>
                              <td></td>
                              <td>TRUE</td>
                              <td>114</td>
                              <td>814</td>
                              <td>TRUE</td>
                              <td>TRUE</td>
                              <td>BPDU guard</td>
                              <td>Open</td>
                              <td>Auto negotiate</td>
                            </tr>
                            <tr>
                                <td>Q2XP-BPWP-9JAM</td>
                                <td>00:11:22:33:44:55:67</td>
                                <td>A2</td>
                                <td></td>
                                <td>TRUE</td>
                                <td>114</td>
                                <td>814</td>
                                <td>TRUE</td>
                                <td>TRUE</td>
                                <td>BPDU guard</td>
                                <td>Open</td>
                                <td>Auto negotiate</td>
                              </tr>
                              <tr>
                                  <td>Q2XP-BPWP-9JAM</td>
                                  <td>00:11:22:33:44:55:67</td>
                                  <td>A2</td>
                                  <td></td>
                                  <td>TRUE</td>
                                  <td>114</td>
                                  <td>814</td>
                                  <td>TRUE</td>
                                  <td>TRUE</td>
                                  <td>BPDU guard</td>
                                  <td>Open</td>
                                  <td>Auto negotiate</td>
                                </tr>
                                <tr>
                                    <td>Q2XP-BPWP-9JAM</td>
                                    <td>00:11:22:33:44:55:67</td>
                                    <td>A2</td>
                                    <td></td>
                                    <td>TRUE</td>
                                    <td>114</td>
                                    <td>814</td>
                                    <td>TRUE</td>
                                    <td>TRUE</td>
                                    <td>BPDU guard</td>
                                    <td>Open</td>
                                    <td>Auto negotiate</td>
                                  </tr>
                                  <tr>
                                      <td>Q2XP-BPWP-9JAM</td>
                                      <td>00:11:22:33:44:55:67</td>
                                      <td>A2</td>
                                      <td></td>
                                      <td>TRUE</td>
                                      <td>114</td>
                                      <td>814</td>
                                      <td>TRUE</td>
                                      <td>TRUE</td>
                                      <td>BPDU guard</td>
                                      <td>Open</td>
                                      <td>Auto negotiate</td>
                                    </tr>
                                    <tr>
                                        <td>Q2XP-BPWP-9JAM</td>
                                        <td>00:11:22:33:44:55:67</td>
                                        <td>A2</td>
                                        <td></td>
                                        <td>TRUE</td>
                                        <td>114</td>
                                        <td>814</td>
                                        <td>TRUE</td>
                                        <td>TRUE</td>
                                        <td>BPDU guard</td>
                                        <td>Open</td>
                                        <td>Auto negotiate</td>
                                      </tr>
                                      <tr>
                                          <td>Q2XP-BPWP-9JAM</td>
                                          <td>00:11:22:33:44:55:67</td>
                                          <td>A2</td>
                                          <td></td>
                                          <td>TRUE</td>
                                          <td>114</td>
                                          <td>814</td>
                                          <td>TRUE</td>
                                          <td>TRUE</td>
                                          <td>BPDU guard</td>
                                          <td>Open</td>
                                          <td>Auto negotiate</td>
                                        </tr>
                                        <tr>
                                            <td>Q2XP-BPWP-9JAM</td>
                                            <td>00:11:22:33:44:55:67</td>
                                            <td>A2</td>
                                            <td></td>
                                            <td>TRUE</td>
                                            <td>114</td>
                                            <td>814</td>
                                            <td>TRUE</td>
                                            <td>TRUE</td>
                                            <td>BPDU guard</td>
                                            <td>Open</td>
                                            <td>Auto negotiate</td>
                                          </tr>
                                          <tr>
                                              <td>Q2XP-BPWP-9JAM</td>
                                              <td>00:11:22:33:44:55:67</td>
                                              <td>A2</td>
                                              <td></td>
                                              <td>TRUE</td>
                                              <td>114</td>
                                              <td>814</td>
                                              <td>TRUE</td>
                                              <td>TRUE</td>
                                              <td>BPDU guard</td>
                                              <td>Open</td>
                                              <td>Auto negotiate</td>
                                            </tr>
                                            <tr>
                                                <td>Q2XP-BPWP-9JAM</td>
                                                <td>00:11:22:33:44:55:67</td>
                                                <td>A2</td>
                                                <td></td>
                                                <td>TRUE</td>
                                                <td>114</td>
                                                <td>814</td>
                                                <td>TRUE</td>
                                                <td>TRUE</td>
                                                <td>BPDU guard</td>
                                                <td>Open</td>
                                                <td>Auto negotiate</td>
                                              </tr>
                                              <tr>
                                                  <td>Q2XP-BPWP-9JAM</td>
                                                  <td>00:11:22:33:44:55:67</td>
                                                  <td>A2</td>
                                                  <td></td>
                                                  <td>TRUE</td>
                                                  <td>114</td>
                                                  <td>814</td>
                                                  <td>TRUE</td>
                                                  <td>TRUE</td>
                                                  <td>BPDU guard</td>
                                                  <td>Open</td>
                                                  <td>Auto negotiate</td>
                                                </tr>

  </tbody>
</table>