<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" id="side" >
        <p (click)="_toggleSidebar()">Switch Ports</p>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <header class="demo-header">
            <button (click)="_toggleSidebar()" class="demo-header__toggle">Toggle sidebar</button>
            <span >Meraki Networks Dashboard</span>
        </header>
        <section class="demo-contents">
            <app-grid-view></app-grid-view>
        </section>
    </div>

</ng-sidebar-container>